.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #808080;
  width: 70%;
}

.carousel {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  width: 100%;
  margin: 0 20px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  white-space: nowrap;
  margin-right: 12px;
  max-width: max-content;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: #808080;
  font-size: 20px;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: background 0.3s;
}

.nav-button:hover {
  background: rgba(0, 0, 0, 0.3);
}

.left {
  left: 5px;
}

.right {
  right: 5px;
}